@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* colores */
  --background: #fbf8f5;
  --bg-metal: #ced4da;
  --bg-mostaza: #ffcb69;
  --bg-naranja1: #d08c60;
  --bg-marron: #4b4848;
  --bg-verde: #17dd49;
  --bg-azul: #023047;
  --bg-rosita: #f7bfd8;
  --bg-color-lila: #cbc6f4;
  --bg-naranja: #eb5e28;
  --bg-naranja-claro: #f4a261;
  --bg-lila-plateado: #b8bedd;
  

  /* colores de textos */
  --text-color-blanco: #fafafa;
  --text-color-negro: #000000;
  --text-color-gris: #6666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color:white;
  border: 0;
  /* border: 1px solid red; */
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  transition: all 0.4s cubic-bezier(0, 1.57, 0.67, 1.18);
  h2{
    color:black;
  }
  


}
html{
  scroll-behavior: smooth;
}
body {
  height: 145vh;
  position: relative;
  background-image: url(./CURSADA/metal_8080.jpg);
  
  
}

header {
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 70px;
  position: fixed;
  background-color: rgb(75, 72, 72);
  z-index: 1000;

}


.logo {
  height:104px;
  width: 120px
  cursor: pointer;
}

.opciones {
  display: flex;
  justify-content: center;
  align-content: center;
}

.item {
  margin: 5px 15px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #f2f2f2;
}

.item:hover {
  color: #ff2258;
}

#check {
  display: none;
}

.tres_lineas {
  width: 40px;
  display: initial;
  border-radius: 10px;
  margin-top: 75px;
  cursor: pointer;
}

label {
  cursor: pointer;
  display: none;
}



.btn:hover {
  background-color: #c10b38;
}

.marvel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  position: absolute;
  width: 100%;
  top: 150px;
}

#imgmarvel {
  width: 40%;
}

.linea {
  top: 2.7em;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #f2f2f2;
  position: absolute;
}

/* Media queries para teléfonos */
@media (max-width: 768px) {
  body {
    font-size: 14px; /* Reducir el tamaño de fuente para teléfonos */
  }
}

/* Media queries para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 16px; /* Ajustar el tamaño de fuente para tablets */
  }
}

/* Media queries para PC */
@media (min-width: 1025px) {
  body {
    font-size: 18px; /* Ajustar el tamaño de fuente para PC */
  }
}
  

  header {
    display: flex;
    flex-direction: column;
    justify-content: right;
    border: 0;
    padding: 0;
  }

  .btn {
    display: none;
  }

  .opciones {
    justify-content: flex-start;
  }

  label {
    display: initial;
  }

  .opciones {
    display: none;
  }

  opciones {
    display: none;
  }

  .tres_lineas {
    display: initial;
  }
}

/* footer */
.footer,
footer.container {
  min-width: 100%;
  background: var();
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--bg-marron);
}

#section-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
}
#section-footer h3 {
  color: var(--bg-verde);
  text-align: initial;
  font-size: 120%;
  font-weight: 400;
}

.contenedor-redes {
  display: flex;
  flex-direction: column;
}

ul.redes {
  margin-top: 15px;
  justify-content: space-evenly;
  color: var(--text-color-gris);
  margin-bottom: none;
}
.redes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 30px;
}

.ayuda {
  margin-top: 12px;
}

li.sub-categorias,
a {
  display: flex;
  padding-bottom: 5px;
  color: var(--text-color-blanco);
}

.contenedor-datafiscal img {
  align-items: center;
  width: 100px;
  padding: 12px;
}
ul.contacto {
  margin-top: 15px;
}

.disabled {
  background-color: var(--bg-rojo);
  color: var(--text-color-blanco);
  cursor: not-allowed;
  border: none;
}

.disabled :hover {
  color: var(--text-color-blanco);
  cursor: not-allowed;
  border: none;
}

.add-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-verde);
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  transform: translateY(200%);
}

.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}

/* section hero */

.hero {
  position: relative;
  height: 70vh;
  overflow: hidden;
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
 video{
  position: absolute;
  z-index: -1;
  autoplay: true;
  loop: true;
  object-fit: cover;
  opacity: 0.8;  
}
h2 {
    position: absolute;
    color: gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    mix-blend-mode: difference;
    
  }
}

/* Unete a nosotros */

.unete {
  text-align: center; 
  padding-top: 30px;
}

.unete #titulo {
  text-align: left; 
  margin-bottom: 20px; 
  font-size: 30px;
}
.unete .btn {
  display: inline-block; /* Convertir los botones en elementos en línea */
  margin: 5px; /* Agregar espacio entre los botones */
}

.unete .btn {
  text-align: center;
  background-color: rgb(75, 72, 72);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.unete .btn:hover {
  background-color: #ff2258;
}

#titulo {
  /* Estilos para el título "colecciones" */

  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-bottom: 20px;
  padding-left: 20px;
}

#titulo-colecciones {
  /* Estilos para el título "colecciones" */
  text-align: center;

  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;

  padding: 10px;
  width: 50%;
  margin: 0 auto;


  img {
    width: 100px;
    background: none;
    height: 60px;
  }
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 20px;
}

.box {
  flex: 1 1 300px;
  background: #fff;
  border: 1px solid #17dd49;
  position: relative;
  overflow: hidden;
  margin: 20px;
}

.box .image {
  padding: 10px;
  background: #494949;
  text-align: center;
}

.box .image img {
  height: 200px;
  width: 250px;
  object-fit: contain;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.7));
}

.box .info .title {
  padding: 10px;
  color: #666;
  font-size: 20px;
}

.box .info .subInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.box .info .subInfo .price {
  color: #ff3300;
  font-size: 20px;
}

.box .info .subInfo .price span {
  font-size: 15px;
  color: #999;
  text-decoration: line-through;
}

.box .info .subInfo .stars i {
  color: #ffa500;
  font-size: 17px;
}

.box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 223px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: none;
  transform: scale(0);
}

.box:hover .overlay {
  transform: scale(1);
}

.box .overlay a {
  color: #666;
  background: #fff;
  margin: 10px;
  padding: 13px 15px;
  font-size: 25px;
  transform: translateY(-150);
  transition-property: transform;
  transition-delay: calc(0.1s * var(--i));
}

.box .overlay a:hover {
  color: #ffa500;
}

.box:hover .overlay a {
  transform: translateY(0px);
}

/* El Modal (fondo) */
.modal {
  /* display: flex; */
  display: none;
  position: fixed;
  z-index: 1;
  left: 30px;
  top: 300px;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Contenedor del contenido del Modal */
.modal-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

/* Contenido del Modal (propiedades de la imagen) */
.contenido-modal {
  max-width: 50%;
  max-height: 50%;
  display: block;
}

/* Animación para el Modal al clickear la lupa */
.contenido-modal {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* El Botón de Cerrar */
.cerrar {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff; /* COLOR DEL BOTON DE CERRAR */
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.cerrar:hover,
.cerrar:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 748px) {
h2{
  font-size: 40px;
}
}